body{
    margin: 0;
    padding: 0;
}
header{
    height: 85px;
    width: 100%;
    background: #3a75b0;
}
.cabecalho{
    text-align: center;
    margin: 0 0 0 0;
    font-size: 50px;
    color: aliceblue;
}

.APIS{
    border: 2px solid #000;
    border-radius: 10%;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}
h3{
    margin: 0 0 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 2px 0 2px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

.diferenca{
    border: 2px solid #000;
    border-radius: 10%;
    width: 450px;
   height: 500px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.SNGAP{
    border: 2px solid #000;
    border-radius: 10%;
    width: 450px;
   height: 500px;
   position: absolute;
   top: 50%;
   left: 85%;
   transform: translate(-50%, -50%);
}
